  .card {
    width: 32vh;
    height: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    margin-bottom: 4vh;
    margin-top: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
      0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
      0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;

  }
  
  .card-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 3.5vh;
    padding-right: 3.5vh;
    height: 60vh;
  }
  